<h2>Registration</h2>
<label for="email">Email Address</label><input id="email" type="text">
<label for="password">Password</label><input id="password" type="password">
<button data-action="submit">Register</button>